/* TAPAS MOVIDE */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear{clear: both;}

.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}

h1{font-size:28px;}
h2{font-size:24px;}
h3{font-size:22px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:14px;}
p{font-size:12px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

.icon-loginfb{background: url('../images/icon-loginfb.png') no-repeat; width: 64px; height: 64px; float: left;}
.icon-logintwitter{background: url('../images/icon-logintwitter.png') no-repeat; width: 64px; height: 64px; float: left;}
.icon-facebook{background: url('../images/icon-facebook.png') no-repeat; width: 32px; height: 32px; float: left;}
.icon-twitter{background: url('../images/icon-twitter.png') no-repeat; width: 32px; height: 32px; float: left;}
.icon-instagram{background: url('../images/icon-instagram.png') no-repeat; width: 32px; height: 32px; float: left;}
.icon-pinterest{background: url('../images/icon-pinterest.png') no-repeat; width: 32px; height: 32px; float: left;}

body{font-family: 'Open sans', Arial, Helvetica, sans-serif; background:#643d13; background:url('../images/bg-body2.jpg'); background-repeat:no-repeat;}
body.page-login{background:url('../images/bg-body.png') !important;}

.left-side{display: block; position: relative; padding-right:210px;}
.left-side-content{padding-top:120px; position: relative; display: block; padding-bottom:40px;}
.right-side{background:#020202; color:#fff; width:210px; height: 100%;; display: block; position:fixed; right:0; z-index: 10; box-shadow:0 -10px 10px rgba(0,0,0,.7);}
.logo{background:url('../images/logo-tapas.jpg') no-repeat; width:175px; height:175px; margin:10px auto;}
.right-content-row{display: block; margin:20px 0;}
.profile{text-align:center;}
.profile p{font-size:14px; margin:10px 0;}
.order-list{border-bottom:1px dashed #fff; display: block;}
.order-list p.title{text-align:center; border-bottom:1px solid #fff; padding:5px 0; font-size:9px; letter-spacing: 5px;}
.order-list-content{height:200px; overflow: scroll; margin:0 10px; padding:10px 0;}
.order-list-content ul li{display:block; position: relative; padding-right:50px; margin-bottom:20px;}
.order-list-content ul li h4{font-size:14px; line-height:18px; margin-bottom:5px;}
.order-list-content ul li input[type=button]{margin-left:5px;}
input[type=button].plus{background: url('../images/bt-plus.png') no-repeat; width: 16px; height: 16px; border: 0; cursor: pointer;}
input[type=button].minus{background: url('../images/bt-minus.png') no-repeat; width: 16px; height: 16px; border: 0; cursor: pointer;}
.order-list-content ul li div.price{position:absolute; right:0; bottom:0; color:#fff; text-align: right; padding-right:15px}
.order-total{padding:0 10px 10px; position: relative; display: block; border-bottom:1px solid #fff;}
.order-total span{position:absolute; right: 0; text-align: right; padding-right:10px; font-weight: bold; padding-right:25px}
.poweredby{padding-left:40px; display: block; position: relative;}
.poweredby p{font-size:6px;}
.logo-ifabula{background: url('../images/logo-ifabula.png') no-repeat; width: 90px; height: 50px; display: inline-block; margin-left:10px; margin-bottom:-7px;}

.page-login, .page-login a{color:#fff;}
.login-wrapper{margin:0 auto; text-align:center; padding:70px 20px 20px;}
.login-wrapper h1{background:url('../images/img-welcome.png') no-repeat; display: inline-block; width:316px; height:51px; font-size:0; margin:10px 0;}
.login-wrapper h3{text-transform: uppercase; font-size:15px; letter-spacing: 5px; margin:10px 0;}
.login-email{position: relative; width: 600px; margin: 0 auto;}
.login-email input[type=email]{background:transparent; border:2px solid #fff; padding:20px; font-family: 'Open sans', Arial, Helvetica, sans-serif; font-size:18px; width:90%; color:#fff;}
.login-email input[type=password]{background:transparent; border:2px solid #fff; padding:20px; font-family: 'Open sans', Arial, Helvetica, sans-serif; font-size:18px; width:90%; color:#fff;}
.login-email input[type=submit]{background:url('../images/icon-submit.png') no-repeat; font-size:0; border: none; width: 32px; height:32px; position: absolute; margin:20px 20px 0; top: 0; right:0; cursor: pointer;}
.login-socmed{display: block; position: relative;}
.login-socmed div{display: inline-block; margin:20px; border:2px solid #fff; position: relative; height:39px; padding:25px 20px 0 84px;}
.login-socmed div a span{border-right:1px solid #fff; position: absolute; left:0; top:0;}

.login-wrapper p{margin:10px; line-height:18px;}
.link-socmed ul li{display: inline-block; font-size:12px; position: relative; padding: 10px 0 0 32px; margin:0 10px;}
.link-socmed ul li span{position: absolute; left:0; top: 0;}

.top-nav{background: url('../images/bg-topnav.png'); height:48px; width:100%; position: fixed; display: block; z-index: 2; box-shadow: 0px 2px 5px rgba(0,0,0,.3); top:0;}
.top-nav ul, .sub-nav ul{margin: 0 auto; text-align: center; padding-right:210px;}
.top-nav ul li{display: inline-block; margin:15px 30px;}
.top-nav ul li.active{text-decoration: underline;}
.top-nav ul li a{font-size:15px; font-weight: bold; color:#533310;}
.sub-nav{background: #de7711; width: 100%; height: 48px; position: fixed; display: block; z-index:1; box-shadow: 0px 2px 5px rgba(0,0,0,.3); top:48px;}
.sub-nav ul li{display: inline-block; height: 48px;}
.sub-nav ul li a{font-size:14px; font-weight: bold; color:#533310;  padding:15px; display: block;}
.sub-nav ul li.active, .sub-nav ul li:hover{background:#533310;}
.sub-nav ul li.active a, .sub-nav ul li:hover a{color:#d37d23; text-decoration: none;}

.catalog-content{display: block; position: relative; padding-bottom:40px; text-align: center; max-width:2000px}
.catalog-content h1{font-family: 'Merriweather', serif; text-align: center; margin:20px 0; text-transform: uppercase; font-size:24px;}
.catalog-content ul li{float:left; margin-top:20px; margin-bottom:20px; width:250px; padding-left:15px; text-align: center;}
.catalog-content ul li img{padding:3px; margin: 0 auto; text-align: center;}
.catalog-content ul li img icon{width:35px; height:35px; text-align: center;}
.catalog-content ul li h2{font-family: 'Merriweather', serif; font-size:14px; font-style: italic; color:#231600; height: 40px; margin:10px 0; padding-bottom:10px; line-height: 18px; text-align: center;}

.price{font-size:14px; color:#231600; font-weight: bold; padding-top:10px; padding-bottom:10px;}

.promotion-content{ text-align: center;}
.promotion-content img{padding-bottom:30px;}

.left-side-content p.footnote{background:url('../images/bg-body2.jpg'); font-size:10px; padding:10px; width:100%; position: fixed; display: block; bottom:0;}

.popup-product {
  position: relative;
  padding: 10px;
  width: auto;
  max-width: 510px;
  margin: 5px auto;
  color:#fff;
  text-align: center;
}
.popup-product-img img{max-height:510px; padding:3px; border:2px solid #fff;}
.popup-product-img h1{font-family: "Merriweather", serif; font-size:14px; font-style: italic; text-align: center; margin:10px 0;}
.popup-product-description{font-size:12px; line-height:18px;}
.popup-product-option input[type=text]{width:30px; text-align: center; margin:0 10px;}
.popup-product-option input[type=submit]{background:#de7711; border:none; color:#2d2012; border-radius:3px; cursor: pointer; margin:10px 0 0 10px;}


.popup-product2 {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
  color:#fff;
  text-align: center;
}
.popup-product2-img img{max-height:420px; padding:3px; border:2px solid #fff;}
.popup-product2-img h1{font-family: "Merriweather", serif; font-size:14px; font-style: italic; text-align: center; margin:10px 0;}
.popup-product2-description{font-size:12px; line-height:18px;}
.popup-product2-option input[type=text]{width:30px; text-align: center; margin:0 10px;}
.popup-product2-option input[type=submit]{background:#de7711; border:none; color:#2d2012; border-radius:3px; cursor: pointer; margin:10px 0 0 10px;}
.tombol-button input[type=submit]{background:#de7711; border:none; color:#2d2012; border-radius:3px; cursor: pointer; margin:10px 0 0 10px;}
.tombol-button select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
                                                width:150px;
                                                height:30px;
}
.tombol-button2 select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
                                                width:50px;
                                                height:30px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.tombol-button label {position:relative}
.tombol-button label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.tombol-button label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}







